#header{
  display: flex;
  align-items: center;
  background-color: black;
  color: #911928;
  text-transform: uppercase;
  font-family: "Agency FB", sans-serif;
  font-size: 30px;
}

#header h1{
  padding: 0px 50px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#navigation{
  background-color: black;
  border-top: 1px solid #911928;
  border-bottom: 1px solid #911928;
  overflow: hidden;
}

#navigation ul{
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

#navigation li{
  display: inline;
}

#navigation a{
  display: block;
  font-family: "Agency FB", sans-serif;
  color: #911928;
  font-size: 30px;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
}

#navigation a:hover{
  background-color: #911928;
  color: black;
  border-left: 2px solid rgb(240, 59, 96);
  border-bottom: 2px solid rgb(240, 59, 96);
  padding: 10px 20px;
  font-weight: bold;
}

#background-container{
  /* Set the background image */
  background-image: url('../public/Messi.png');

  /* Set the dimensions of the container (adjust as needed) */
  height: 100vh;

  /* Other background properties */
  background-repeat: no-repeat;
  background-size: cover; /* Cover the entire container */
  background-position: center;

  /* Optional: Add padding, margin, etc. for positioning the content */
  padding: 20px;

  box-sizing: border-box;
  /* Prevent content overflow */
  overflow: auto;
}

#background-container a{
  max-width: 750px;
  margin: 0 auto;
  color: lightgray;
  font-size: 5rem;
  margin-right: 20px;
  transition: 0.3s ease;
}

#background-container a:last-child {
  margin-right: 0;  /* Ensures that the last icon doesn't have extra margin on the right */
}

#background-container a:hover {
  transform: scale(1.1);  /* Optional: slightly enlarge icon on hover */
}



#welcome {
  margin-top: 150px;
  margin-left: 20px;
}

#welcome h1{
  color: rgba(211, 211, 211, 0.477);
  font-family: "Agency FB", sans-serif;
  font-size: 90px;
  font-weight: bold;
  position: left;
}

#welcome p{
  color:lightgray;
  font-family: "Agency FB", sans-serif;
  font-size: 30px;
}

#welcome button{
  background-color: transparent;
  color:lightgray;
  border: 2px solid lightgray;
  padding: 10px 20px;
  font-family: "Agency FB", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s;
}

#welcome button:hover {
  background-color: rgba(0, 0, 0, 0.5); /* Add a background color on hover */
}

#contact h1{
  color: lightgray;
  font-family: "Agency FB", sans-serif;
  font-size: 50px;
}

#contact p{
  color: lightgray;
  font-family: "Agency FB", sans-serif;
  font-size: 20px;
}

footer{
  background-color: black;
  color: #911928;
}